.project
.pydevproject*
.Python
.DS_Store
.installed.cfg
.mr.developer*
.settings
.coverage
bin
include
lib
eggs
develop-eggs
parts
local
dist
share
*.pyc
*.pt.py
Data.fs*
.tmp*
.idea
*.egg-info
*~
.salt.txt
pip-selfcheck.json
