.dashed-border { border: #ccc 1px dashed; }

.navbar-brand.arche-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.rotate-me {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.portlet-sortable {
  min-height: 30px;
}

/* Add a glyphicon-collapse-toggle inside the link of something collapsible to use this */
.glyphicon-collapse-toggle:before { content: "\e160"; } /*collapse-up*/
.collapsed > .glyphicon-collapse-toggle:before { content: "\e159"; } /*collapse-down*/
