
/* default workflow states */
.wf-state.wf-state-public {
  color: #5cb85c;
}
.wf-state.wf-state-private {
  color: #d9534f;
}
.wf-state.wf-state-review {
  color: #f0ad4e;
}

.fixed-flash-slot {
  position: fixed;
  right: 10px;
  left: 10px;
  top: 60px;
  z-index: 2000;
}

.dashed-border { border: #ccc 1px dashed; }

.rotate-me {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.portlet-sortable {
  min-height: 30px;
}

/* Add a glyphicon-collapse-toggle inside the link of something collapsible to use this */
.glyphicon-collapse-toggle:before { content: "\e160"; } /*collapse-up*/
.collapsed > .glyphicon-collapse-toggle:before { content: "\e159"; } /*collapse-down*/

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
#white-nav-logo {
  width: 60px;
  height: 100%;
  fill:#fff;
}

/* Use this for images that needs fixed ratio */
.stretchy-wrapper {
    width: 100%;
    padding-bottom: 50%; /* <- Override to change */
    position: relative;
    display: inline-block;
}
.stretchy-wrapper > .force-ratio {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.portlet-manager {
    padding: 10px;
}

.text-overflow {
    /* element must be block or inline-block for this to work */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#popover-res {
    background: #fff;
}

.search-popover {
    display: none;
    position: absolute;
    left: 0px;
    max-width: 100%;
    min-width: 200px;
    padding: 20px;
    z-index: 100000;
    transition: all 500ms ease;
    opacity: 0;
}
.search-popover.active {
    display: block;
}

.search-popover span {
    display: inline-block;
}
.search-popover li a {
    display: block;
    padding: 3px 0;
}
.search-popover li {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding:  0 50px 0 0;
}
.search-popover .popover-img {
    display: inline-block;
    position: absolute;
    right: 0px;
}
.search-popover.active { opacity: .9; }
